#navmain
    nav.navbar.navbar-expand-md.navbar-dark.bg-dark
        a.navbar-brand(href='/') Therapy Dash Board
        |
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navMain', aria-controls='navMain', aria-expanded='false', aria-label='Main Navigation')
            span.navbar-toggler-icon
        |
        #navMain.collapse.navbar-collapse
            .navbar-nav
                a.nav-item.nav-link(href='/') หน้าแรก 
                |
                a.nav-item.nav-link(href='/therapies') โปรไฟล์ 
                |
                a.nav-item.nav-link(href='/users') เกี่ยวกับเรา 
                |